//$colorfulElement: #5585ff;
//$backColorActive: #cea0f1;
//$backColorPassive: #e6d3f9;
//$panelActive:  #6027e1;
//$panelActive:  #9e66c6;

$colorfulElement: #5585ff;
//$backColorActive: #2b9ff1;
//$backColorPassive: #9a9a9a;
$backColorActive: #c3cbde;
$backColorPassive: #d5dce5;
$panelActive: #2d3548;
//$panelActive: #2b4ac2;
//$panelActive: #274ce1;
//$panelPassive: #6693c6;
$panelPassive: #899cb2;


//bw reccomends
/*
black #303030 #2b2b2b #1f1f1f #1b1c1e

 */