@import "colors";

.info-form {
    background: rgb(254, 254, 254);
    /*background: rgba(0,0,0,0.1);*/
    border-radius: 10px;
    padding: 15%;
    border: solid 1px rgba(0, 0, 0, 0.1);
    width: 600px;
    color: black;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
}

.info-form form {
    /*background: rgba(0,0,0,0.1);*/
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.info-form form unput {
    /*background: rgba(0,0,0,0.1);*/
    width: 100%;
}

.flex-row-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form button {
    position:relative;
    overflow:hidden;
    width:7rem;
    color: $colorfulElement;
    border:2px solid $colorfulElement;
    background-color:transparent;
    cursor:pointer;
    line-height:2;
    margin:0;
    padding:0;
    border-radius:0.25rem;
    font-size:1.125rem;
    text-transform:lowercase;
    outline:none;
    transition:transform .125s;
}


a {
    box-shadow: inset 0 0 0 0 $colorfulElement;
    color: $colorfulElement;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover {
    color: #333333;
    /*box-shadow: inset 200px 0 0 0 #5585ff;*/
}

/* Presentational styles */
a {
    color: $colorfulElement;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
}

.result {
    .result-field {
        position:relative;
        overflow:hidden;
        color:$colorfulElement;
        text-align: center;
        border:2px solid $colorfulElement;
        background-color:transparent;
        line-height:2;
        margin:1rem;
        //padding:0;
        border-radius:0.25rem;
        font-size:1.125rem;
        outline:none;
        transition:transform .125s;
        
        p {
            display: inline;
            font-size: 1.3rem ;
            //color: ;
        }
    }
}
