@import 'colors';

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: $panelActive;
  overflow: hidden;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.19);
  //border: solid 1px rgba(0, 0, 0, 0.1);
  
  h1 {
    font-size: 25px;
    position: absolute;
    top: 8px;
    left: 70px;
    margin: 0;
    //font-style: italic;
  }
  .logo> img {
    top: -4px;
    height: 58px;
    position: absolute;
    left: 10px;
  }
  
  .btn>img {
    position: absolute;
    right: 25px;
    top: 8px;
    height: 34px;

    &:hover {
      filter: brightness(0.8);
    }
  }
}
