{{#if session.isAuthenticated}}
    <div class = "welcome-login">
     {{this.currentUser}}
    </div>
{{/if}}
{{#if session.isAuthenticated}}
<div class="header">
    <div class="logo">
        <img src="assets/images/logo.svg" aria-hidden="true">
    </div>
    <h1>Fitback</h1>
    <div class="btn logout" onclick={{action "invalidateSession"}} title="Выход">
        <img src="assets/images/logout.svg" aria-hidden="true">
    </div>
</div>
{{/if}}
{{!-------------<div class="waves">
    
</div>------------------}}
<div class="wave1"></div>
<div class="wave2"></div>
<div class="wave4"></div>
<div class="wave3"></div>
{{!-------------------------------}}
<div class="content">
    {{outlet}}
</div>
<div class="footer"></div>
