{{#if session.isAuthenticated}}
    <div class = "welcome-login">
     {{this.currentUser}}
    </div>
{{/if}}
{{#if session.isAuthenticated}}
<div class="header">
    <h1>Fitback</h1>
    <div class="btn logout" onclick={{action "invalidateSession"}} title="Выход">
        <img src="assets/images/logout.svg" aria-hidden="true">
    </div>
</div>
{{/if}}
<div class="content">
    {{outlet}}
</div>
<div class="footer"></div>
