
<div class="slider-menu">
    {{menu-slider label='Options' route='options' imgSource='assets/images/options.svg' }}
    {{menu-slider label='Workout' route='workouts' imgSource='assets/images/sport.svg' customClassName='active-panel'}}
    {{menu-slider label='Achievments' route='achievments' imgSource='assets/images/results.svg'}}
</div>
