{{!--{{#if session.isAuthenticated}}
  <div class="slider-menu">

      {{slider-list list=this.model}}
 </div>
{{else}}
 <div class="user-form">
     {{#link-to 'login'}}Войти{{/link-to}}
 </div>
{{/if}}




--}}

{{#link-to 'workout'}}Войти{{/link-to}}